/**
 * @name Vencord Reimagined
 * @description A theme that mixes acpects from midnight by refact0r and vencord-theme by nanoqoi
 * @author LoosaZ
 * @version 1.6.6
 * @source https://github.com/LooosaZ/Vencord-Reimagined-theme
 * @authorId 310099824777232394
*/

/* 
Original theme links:
https://github.com/refact0r/midnight-discord
https://github.com/nanoqoi/vencord-theme
*/
/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */
@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font:  "Rubik";

	/* top left corner text */
	--corner-text: "Vencord X LoosaZ";

	/* color of status indicators and window controls */
	--online-indicator: #23a55a; /* change to #23a55a for default green */
	--dnd-indicator: #f13f43; /* change to #f13f43 for default red */
	--idle-indicator: #f0b232; /* change to #f0b232 for default yellow */
	--streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

	/* accent colors */
	--accent-1: #d3859b; /* links */
	--accent-2: hsl(12, 85%, 34%); /* general unread/mention elements */
	--accent-3: #d3859b; /* accent buttons */
	--accent-4: #d3859b; /* accent buttons when hovered */
	--accent-5: #d3859b; /* accent buttons when clicked */
	--mention: hsla(34, 74%, 37%, 0.1); /* mentions & mention messages */
	--mention-hover: hsla(34, 72%, 46%, 0.1); /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: #ddc7a0; /* text on colored elements */
	--text-1: var(--text-2); /* other normally white text */
	--text-2: #ddc7a0; /* headings and important text */
	--text-3: #d4be98; /* normal text */
	--text-4: #d4be98; /* icon buttons and channels */
	--text-5: #918274; /* muted channels/chats and timestamps */

	/* background and dark colors */
	--bg-1: #282828; /* dark buttons when clicked */
	--bg-2: #282828; /* dark buttons */
	--bg-3: #1e2021; /* spacing, secondary elements */
	--bg-4: #282828; /* main background color */
	--hover: hsla(230, 20%, 40%, 0.1); /* channels and buttons when hovered */
	--active: hsla(220, 20%, 40%, 0.2); /* channels and buttons when clicked or selected */
	--message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	--hover-push: 0.2s ease; /* channels/members when hovered */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: block; /* moon icon */
	--moon-icon-url: url('https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg'); /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: saturate(0.3) hue-rotate(-15deg) brightness(0.4); /* login background artwork */
	--green-to-accent-3-filter: hue-rotate(56deg) saturate(1.43); /* add friend page explore icon */
	--blurple-to-accent-3-filter: hue-rotate(304deg) saturate(0.84) brightness(1.2); /* add friend page school icon */
}